@model IEnumerable<wedding_planer_ad.Models.WeddingTimeline>

@{
    Layout = "~/Views/WeddingPlanners/_WeddingPlannerLayout.cshtml";
    ViewData["Title"] = "Wedding planner Dashboard";
}

<h2>Wedding Timeline</h2>

<a asp-action="AddTimeline" asp-route-coupleId="@ViewBag.CoupleId" class="btn btn-primary mb-3">+ Add New Event</a>


@if (!Model.Any())
{
    <div class="alert alert-info">No Timelines found for wedding.</div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Event Time</th>
                <th>Event Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href='@Url.Action("TimelineDetails", "WeddingPlanners", new { id = item.Id })'" style="cursor:pointer">
                    <td>@item.EventName</td>
                    <td>@item.EventTime</td>
                    <td>@item.EventDescription</td>
                </tr>
            }
        </tbody>
    </table>
}