@model IEnumerable<wedding_planer_ad.Models.DTO.BookingVendorDTO>

@{
    Layout = "~/Views/WeddingPlanners/_WeddingPlannerLayout.cshtml";
    ViewData["Title"] = "Wedding planner Dashboard";
}

<h2>Wedding Bookings</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">No Bookings found for wedding.</div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Vendor Name</th>
                <th>Vendor Description</th>
                <th>Vendor Pricing</th>
                <th>Booking Date</th>
                <th>Service Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.VendorName</td>
                    <td>@item.VendorDescription</td>
                    <td>@item.VendorPricing</td>
                    <td>@item.BookingDate.ToShortDateString()</td>
                    <td>@item.ServiceDetails</td>
                </tr>
            }
        </tbody>
    </table>
}