@model IEnumerable<wedding_planer_ad.Models.WeddingChecklist>

@{
    Layout = "~/Views/WeddingPlanners/_WeddingPlannerLayout.cshtml";
    ViewData["Title"] = "Wedding planner Dashboard";
}

<h2>Wedding Checklist</h2>

<a asp-action="AddChecklist" asp-route-coupleId="@ViewBag.CoupleId" class="btn btn-primary mb-3">+ Add New Task</a>


@if (!Model.Any())
{
    <div class="alert alert-info">No checkist found for wedding.</div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Task Status</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr onclick="location.href='@Url.Action("ChecklistDetails", "WeddingPlanners", new { id = member.Id })'" style="cursor:pointer;">
                    <td>@member.TaskName</td>
                    <td>@member.TaskDescription</td>
                    <td>@member.TaskStatus</td>
                    <td>@member.DueDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}